body {
    background-color: #EEEFF7;
}

p {
    font-family: Lato;
    font-size: 1.1em;
}

.row{
    background-color: #EEEFF7;
}
/*Page header*/
.page-header {
    padding-bottom: 40px;
}

.page-header h1 {
    color: #445878;
}

.page-header h3 {
    color: #92CDCF;
}


/* Sidebar*/
.col-md-3 {
    float: left;
    text-transform: capitalize;
    }
.col-md-3 h3 {
  margin-bottom: 0px;
  color:#92CDCF;
}

.col-md-3 ul {
  margin-top: 3px;
  margin-bottom: 0px;
  list-style: none;
}

}
.col-md-3 .sortoptions {
  list-style: none;
  padding-left: 0px;
}

.col-md-3 .parafilter {
    color:#445878;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
}
/*End col-md-3*/

/*Central panel*/

.panel {
    background: #EEEFF7;
}
.product {
  max-width: 210px;
  height: 90px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
 
}

/*Tabs*/

.tabsdemoDynamicHeight md-content {
  background-color: #92CDCF; 
}

  .tabsdemoDynamicHeight md-content md-tabs {
    background: #92CDCF;
    border: 2px solid lightgrey; 
    }
    

    .tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas md-padding {
      background-color: #445878; } 
    p.connections {
        color: #1C1D21;
    }
    
 .md-tab:first-child{background: #92CDCF; font-weight: bold; font-family: "Lato";  text-transform: capitalize; color: #445878; font-size: 1.3em;} 
 .md-tab:nth-child(2){background: #92CDCF; font-weight: bold; font-family: "Lato";  text-transform: capitalize; color: #445878; font-size: 1.3em;} 
 .md-tab:nth-child(3){background: #92CDCF; font-weight: bold; font-family: "Lato";  text-transform: capitalize; color: #445878; font-size: 1.3em;} 
 .md-tab:nth-child(4){background: #92CDCF; font-weight: bold; font-family: "Lato";  text-transform: capitalize; color: #445878; font-size: 1.3em;} 

/*End tab*/
