.sidebar {
  float: left;
  text-transform: capitalize;
}
.sidebar h3 {
  margin-bottom: 0px;
}
.sidebar ul {
  margin-top: 3px;
  margin-bottom: 0;
}
.sidebar .sortoptions {
  list-style: none;
  padding-left: 0px;
}

.product {
  max-width: 210px;
  height: 90px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

ul {
list-style-type:none;
}