.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }

  .tabsdemoDynamicHeight md-content md-tabs {
    background: lightgrey;
    border: 1px solid lightgrey; 
    }

    .tabsdemoDynamicHeight md-content md-tabs md-tabs-canvas md-padding {
      background: white; } 
    p.red {
        color: red;
    }

 .md-tab:first-child{background: lightgrey; } 
 .md-tab:nth-child(2){background: lightgrey; } 
 .md-tab:nth-child(3){background: lightgrey; } 
